#pills-tabContent {
  background-image: url("images/white_rocks.jpg");
  background-size: cover;
}

.site {
        border-radius: 12px;
          height: 450px;
            width: 60%;
            }
 
 #A5 {
   background-image: url("Atividades/A5/src/img/bg.jpg");
   background-size: cover;
 }

.describe {
  width: 90%;
}
