#pills-tabContent {
  background-image: url("images/white_rocks.jpg");
  background-size: cover;
}

.site {
        border-radius: 12px;
          height: 450px;
            width: 60%;
}


#A1 {
  background-color: #2d4a22;
}
#A2 {
  background-color: yellowgreen;
}
#A2-content {
  background-color: #2d4a22;
}
#A3 {
  background-image: linear-gradient(#f0f2f5, #2d4a22);
}
 #A4 {
  background-image: linear-gradient(#2d4a22, #f0f2f5);
}
#A4-content {
   background-color: #f0f2f5;
}

 #A5 {
   background-image: url("Atividades/A5/src/img/bg.jpg");
   background-size: cover;
 }
 #A5-content {
    color: darkorange;
 }

#A6 {
  background-color: DarkTurquoise;
}

#A7 {
  background-color: mintcream;
}

#A8 {
  background-image: linear-gradient(rgba(18, 7, 106, 0.986), rgb(222, 16, 109))
}

.describe {
  width: 90%;
  height: 400px;
  overflow-y: auto;
}
