#pills-tabContent {
  background-image: url("images/white_rocks.jpg");
  background-size: cover;
}

.site {
      background-color: white;
        border-radius: 12px;
          height: 450px;
            width: 60%;
            }

.describe {
  width: 90%;
}
