.counter {

    div {
        width: 75px;
        margin-left:auto; margin-right: auto;

        button {
            cursor: pointer;
            background-color: aquamarine;
            padding: 1px;
            border: 1px solid;
            border-radius: 12px;
            transition-duration: 0.4s;
        }
        button:hover {
            background-color: aqua;
        }
        button:active {
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}