.clients {

    table {
        width: 50%;
        margin:auto;

        th {
            background-color: aquamarine;
            padding: 1px;
        }
        td {
            text-align: center;
        }
    }
}