.clients {

    table {
        width: 50%;
        margin:auto;

        th {
            background-color: aquamarine;
            padding: 1px;
            font-size: 18px;
        }
        td {
            text-align: center;
            word-break: keep-all;
            font-size: 17px;
        }
    }
}