.repository-list {

    height: 400px;
    overflow-y: auto;

    ul {
        list-style: none;
        margin-left: 10px; margin-right: 5px;
        li {
            padding-bottom: 8px;
            border-bottom: 1px solid;

            & + Li {
                margin-top: 20px;
            }
            strong {
                word-break: break-word;
            }
            p {
                word-break: break-word;
                font-size: 16px;
                color: #444;
                margin-top: 8px;
                text-align: justify;
            }
            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
                padding: 2px;
                border-radius: 5px;
            }
            a:link {
               text-decoration: none; 
            }
            a:hover {
                background-color: aquamarine;
            }
        }
    }
}