.repository-list {

    ul {
        list-style: none;
        margin-left: 10px;
        li {
            & + Li {
                margin-top: 20px;
            }
            p {
                font-size: 14px;
                color: #444;
                margin-top: 8px;
                text-align: justify;
            }
            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
                padding: 2px;
                border-radius: 5px;
            }
            a:link {
               text-decoration: none; 
            }
            a:hover {
                background-color: aquamarine;
            }
        }
    }
}